.articles-image{
    max-height: 150px;
}
body{
    background-image: url('https://thumbs.dreamstime.com/t/white-wood-planks-background-rustic-white-wood-planks-background-wood-texture-109733114.jpg');
}
.card{
    background-color: rgb(255,255,255,0.5);
}
#cmd-ChipsAjout{
    transform: translate(0,50%);
}
.chips, #query{
    border-bottom: 1px solid black;
}
label {
    color: #26a69a !important;
}
.input::placeholder{
    color: black !important;
}