body{
    background-color: #753939;
}
label {
    color: #D7DFB0 !important;
}

#query{
    color: #D7DFB0 !important;
    border-bottom: 1px #D7DFB0 solid ;
}
.card-content > p {
    color: white;
}
.card{
    cursor: pointer;
}


.sidenav{
    width: 200px;
}
.side-nav{
    color: #753939 !important;
}

#meteo_image{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#burger{
    margin-top: 28px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 10px;
    background: #753939;
}
.ui-menu-item{
    color: #D7DFB0;
    font-size: 16px;
    border: 1px #D7DFB0 solid;

}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover 
{
    background-color: #D7DFB0;
    border: 1px solid #D7DFB0;
    color: #753939;
}
.articles-image {
    max-height: 150px;
}

.card {
    background-color: transparent;
}
#cmd-ChipsAjout {
    transform: translate(0,50%);
}


.input::placeholder {
    color: black !important;
}


#city {
    color: #b71c1c ;
}
.autocomplete-content{
    width: auto !important;
}
