body{
    background-color: #753939;
}
label {
    color: #D7DFB0 !important;
}

#query{
    color: #D7DFB0 !important;
    border-bottom: 1px #D7DFB0 solid ;
}
.card-content > p {
    color: white;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 10px;
    background: transparent;
}
.ui-menu-item{
    color: #D7DFB0;
    font-size: 16px;
    border: 1px #D7DFB0 solid;

}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover 
{
    background-color: #D7DFB0;
    border: 1px solid #D7DFB0;
    color: #753939;
}
.articles-image {
    max-height: 150px;
}

.card {
    background-color: #D7DFB0;
}
#cmd-ChipsAjout {
    transform: translate(0,50%);
}


.input::placeholder {
    color: black !important;
}
#meteo {
    border-radius: 0 15px 15px 0;
    width: 14%;
    background-color: rgb(38,166,154,0.7);
}
#meteo>div {
    margin-left: 10%;
}
#city {
    color: #b71c1c ;
}
.autocomplete-content{
    width: auto !important;
}
